@import url(/Styles.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


.container{
    display: flex;
    max-width: 90%;
    margin: auto;
    margin-top: 3rem;
    height: 100%;
}


.Page__Infobox{
    min-width: 50%;
    font-size: 1.5rem;
    padding-right: 1rem;
    text-align: center;
}

.infobox__heading{
    font-size: 3rem;
    font-weight: 600;
    margin-top: 7rem;
    margin-bottom: 1rem;
}

.infobox__subtitle{
    font-weight: 20000;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.Page__Image{
    min-width: 50%; 
    margin-bottom: 3rem;
}


.CTA-container{
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    margin-top: 1rem;
    gap: 2rem;
}

