<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components.css">
   
    <title>Avatar</title>
</head>

<body>
    <nav class="navbar">
        <div class="brandlogo">
            <div class="brandlogo__name">ICONICA</div>
            <p class="brandlogo__tagline">DESIGN FOR CHANGE</p>
        </div>
        <div class="nav__Links">
            <a href="/Index.html">Home</a>
            <a href="/Documentation.html">Documentation</a>
        </div>

        <div class="nav__Icons">
            <a href="https://github.com/Sharmaa-Ansh"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/anshh_sharma"> <i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/ansh-sharma-a85a32184/"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </nav>    
    <div class="body-container">
        <section class="sidebar">
            <ul>
                <li> <a class="sidebar__Component sidebar__Component-heading " href="">Components</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Alerts/Alert.html">Alert</a> </li>
                <li class="active-component"> <a class="sidebar__Component active-component-colour" href="/Components/Avatars/Avatar.html">Avatar</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Badge/Badge.html">Badge</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Button/Button.html">Button</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Card/Card.html">Card</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Image/Image.html">Image</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Input/Input.html">Input</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Modal/Modal.html">Modal</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Navigation/Navigation.html">Navigation</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Snackbar/Snackbar.html">Snackbar</a> </li>
            </ul>
        </section>

        <div class="Content">
            <h1 class="Content__PageHeading">Avatar</h1>
            <div class="Content__PageSubtitle">
                Avatars are user profile pictures, usually found in circular shapes. Avatars can be used for 'container'
                objects — projects, spaces, repositories etc to give them a recognisable visual identity.
            </div>
            <hr>

                        <!-- Profile Avatar -->
                        <h2 class="Content__TopicHeading">Profile Avatar</h2>
                        <div class="Content__TopicSubtitle">
                            Profile Avatars can be created using the class 'avatar', inside the img tag.

                        </div>
                        <div class="ExampleBox">
            
                            <img class="Avatar Avatar-Standard"
                                src="https://media.istockphoto.com/vectors/vector-businessman-black-silhouette-isolated-vector-id610003972?k=20&m=610003972&s=612x612&w=0&h=-Nftbu4sDVavoJTq5REPpPpV-kXH9hXXE3xg_D3ViKE="
                                alt="Image">
                            <img class="Avatar Avatar-Standard"
                                src="https://media.istockphoto.com/vectors/vector-businessman-black-silhouette-isolated-vector-id610003972?k=20&m=610003972&s=612x612&w=0&h=-Nftbu4sDVavoJTq5REPpPpV-kXH9hXXE3xg_D3ViKE="
                                alt="Image">
                            <img class="Avatar Avatar-Standard" src="https://media.istockphoto.com/vectors/vector-businessman-black-silhouette-isolated-vector-id610003972?k=20&m=610003972&s=612x612&w=0&h=-Nftbu4sDVavoJTq5REPpPpV-kXH9hXXE3xg_D3ViKE=" alt="Image">
                        </div>
                        <div class="Code-Snippet-Display">
                            <iframe
  src="https://carbon.now.sh/embed/4EnoGb0yhmMnIpZTOvpE"
  style="width: 476px; height: 186px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
                        </div>
                        <hr>

            <!-- Sized Avatar -->
            <h2 class="Content__TopicHeading">Sized Avatar</h2>
            <div class="Content__TopicSubtitle">
                Size of the avatars can be changed by adding sm | md | lg class to the existing avatar class.
            </div>
            <div class="ExampleBox">

                <img class="Avatar Avatar__Img-sm"
                    src="https://media.istockphoto.com/vectors/vector-businessman-black-silhouette-isolated-vector-id610003972?k=20&m=610003972&s=612x612&w=0&h=-Nftbu4sDVavoJTq5REPpPpV-kXH9hXXE3xg_D3ViKE="
                    alt="Image">
                <img class="Avatar Avatar__Img-md"
                    src="https://media.istockphoto.com/vectors/vector-businessman-black-silhouette-isolated-vector-id610003972?k=20&m=610003972&s=612x612&w=0&h=-Nftbu4sDVavoJTq5REPpPpV-kXH9hXXE3xg_D3ViKE="
                    alt="Image">
                <img class="Avatar Avatar__Img-lg" src="https://media.istockphoto.com/vectors/vector-businessman-black-silhouette-isolated-vector-id610003972?k=20&m=610003972&s=612x612&w=0&h=-Nftbu4sDVavoJTq5REPpPpV-kXH9hXXE3xg_D3ViKE=" alt="Image">
            </div>
            <div class="Code-Snippet-Display">
                <iframe
  src="https://carbon.now.sh/embed/vpCZjPRQqRlWHPAvvVNu"
  style="width: 494px; height: 130px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </div>
            <hr>
        </div>
    </div>
    <footer>
        <div class="madeby">Made By Ansh Sharma</div>
        <div class="nav__Icons"> 
            <a href="https://github.com/Sharmaa-Ansh"><i class="fab fa-github"></i></a>
             <a href="https://twitter.com/anshh_sharma"> <i class="fa-brands fa-twitter"></i></a>
             <a href="https://www.linkedin.com/in/ansh-sharma-a85a32184/"><i class="fa-brands fa-linkedin-in"></i></a>         
        </div>
    </footer>
</body>

</html>