<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Button.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Button</title>
</head>

<body>
    <nav class="navbar">nav</nav>
    <div class="body-container">
        <section class="sidebar">
            <ul>
                <li>Button</li>
                <li>sample</li>
                <li>sample</li>
                <li>sample</li>
                <li>sample</li>
                <li>sample</li>
                <li>sample</li>
                <li>sample</li>
                <li>sample</li>
                <li>sample</li>
                <li>sample</li>
            </ul>
        </section>

        <div class="Content">
            <h1 class="Content__PageHeading">Buttons</h1>
            <div class="Content__PageSubtitle">
                Buttons are also called as call to action. We have range of buttons and their states. You may use a tag
                or button element, you need to add respective classes, and you are good to go
            </div>
            <hr>

            <!-- Contained Buttons -->
            <h2 class="Content__TopicHeading">Contained Buttons</h2>
            <div class="Content__TopicSubtitle">
                Contained buttons are high-emphasis, distinguished by their use of elevation and fill. They contain
                actions that are primary to your app.
            </div>

            <div class="ExampleBox">
                <a href="" class="btn btn--Primary">Primary </a>
                <a href="" class="btn btn--Secondary">Secondary </a>
                <a href="" class="btn btn--Error">Error </a>
                <a href="" class="btn btn--Success">Success </a>
            </div>
            <div class="Code-Snippet-Display">
                <iframe src="https://carbon.now.sh/embed/syBzxbr7wFRNlS2Cgo46"
                    style="width: 730px; height: 149px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <hr>

            <!-- Contained Buttons -->
            <h2 class="Content__TopicHeading">Outlined Buttons</h2>
            <div class="Content__TopicSubtitle">
                In need of a button, but not the hefty background colors they bring? Replace '.btn-variant' with
                '.outline-variant'.
            </div>

            <div class="ExampleBox">
                <a href="" class="btn btn--Primary-Outlined">Primary </a>
                <a href="" class="btn btn--Secondary-Outlined">Secondary </a>
                <a href="" class="btn btn--Error-Outlined">Error </a>
                <a href="" class="btn btn--Success-Outlined">Success </a>
            </div>
            <div class="Code-Snippet-Display">
                <iframe src="https://carbon.now.sh/embed/syBzxbr7wFRNlS2Cgo46"
                    style="width: 730px; height: 149px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <hr>

            <!-- Link Buttons -->
            <h2 class="Content__TopicHeading">Link Button</h2>
            <div class="Content__TopicSubtitle">
                Want to attach a link action, at a button tap? Use Link Button.
            </div>

            <div class="ExampleBox">
                <a href="Link" class="btn btn--Primary-Link">Link </a>
            </div>
            <div class="Code-Snippet-Display">
                <iframe src="https://carbon.now.sh/embed/syBzxbr7wFRNlS2Cgo46"
                    style="width: 730px; height: 149px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <hr>

            <!-- Icon Buttons -->
            <h2 class="Content__TopicHeading">Icon Button</h2>
            <div class="Content__TopicSubtitle">
                Want to attach a link action, at a button tap? Use Link Button.
            </div>

            <div class="ExampleBox">
                <a href="Link" class="btn btn--Primary"><i class="fas fa-shopping-cart"> </i> Add to Cart </a>
                <a href="Link" class="btn btn-Icon"><i class="fas fa-shopping-cart"> </i>  </a>
            </div>
            <div class="Code-Snippet-Display">
                <iframe src="https://carbon.now.sh/embed/syBzxbr7wFRNlS2Cgo46"
                    style="width: 730px; height: 149px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <hr>

            <!-- Floating Buttons -->
            <h2 class="Content__TopicHeading">Floating Button</h2>
            <div class="Content__TopicSubtitle">
                Floating-action buttons can be customized by adding the font-awesome icon of your choice. This button
                will be fixed to right-bottom corner.
            </div>

            <div class="ExampleBox">
                <a href="Link" class="btn-Float"></a>
                <i class="fas fa-plus btn-Float-Icon"></i>
            </div>
            <div class="Code-Snippet-Display">
                <iframe src="https://carbon.now.sh/embed/syBzxbr7wFRNlS2Cgo46"
                    style="width: 730px; height: 111px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

        </div>


    </div>



</body>

</html>