<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components.css">

    <title>Button</title>
</head>

<body>
    <nav class="navbar">
        <div class="brandlogo">
            <div class="brandlogo__name">ICONICA</div>
            <p class="brandlogo__tagline">DESIGN FOR CHANGE</p>
        </div>
        <div class="nav__Links">
            <a href="/Index.html">Home</a>
            <a href="/Documentation.html">Documentation</a>
        </div>

        <div class="nav__Icons">
            <a href="https://github.com/Sharmaa-Ansh"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/anshh_sharma"> <i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/ansh-sharma-a85a32184/"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </nav>
    <div class="body-container">
        <section class="sidebar">
            <ul>
                <li> <a class="sidebar__Component sidebar__Component-heading " href="">Components</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Alerts/Alert.html">Alert</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Avatars/Avatar.html">Avatar</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Badge/Badge.html">Badge</a> </li>
                <li class="active-component"> <a class="sidebar__Component active-component-colour" href="/Components/Button/Button.html">Button</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Card/Card.html">Card</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Image/Image.html">Image</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Input/Input.html">Input</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Modal/Modal.html">Modal</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Navigation/Navigation.html">Navigation</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Snackbar/Snackbar.html">Snackbar</a> </li>
            </ul>
        </section>

        <div class="Content">
            <h1 class="Content__PageHeading">Buttons</h1>
            <div class="Content__PageSubtitle">
                Buttons are also called as call to action. We have range of buttons and their states. You may use a tag
                or button element, you need to add respective classes, and you are good to go
            </div>
            <hr>

            <!-- Contained Buttons -->
            <h2 class="Content__TopicHeading">Contained Buttons</h2>
            <div class="Content__TopicSubtitle">
                Contained buttons are high-emphasis, distinguished by their use of elevation and fill. They contain
                actions that are primary to your app.
            </div>

            <div class="ExampleBox">
                <a href="" class="btn btn--Primary">Primary </a>
                <a href="" class="btn btn--Secondary">Secondary </a>
                <a href="" class="btn btn--Error">Error </a>
                <a href="" class="btn btn--Success">Success </a>
            </div>
            <div class="Code-Snippet-Display">
                <iframe
  src="https://carbon.now.sh/embed/aHe9i2YsPcXFrXrRiAC7"
  style="width: 476px; height: 149px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </div>
            <hr>

            <!-- Outlined Buttons -->
            <h2 class="Content__TopicHeading">Outlined Buttons</h2>
            <div class="Content__TopicSubtitle">
                In need of a button, but not the hefty background colors they bring? Try using Outlined buttons.
            </div>

            <div class="ExampleBox">
                <a href="" class="btn btn--Primary-Outlined">Primary </a>
                <a href="" class="btn btn--Secondary-Outlined">Secondary </a>
                <a href="" class="btn btn--Error-Outlined">Error </a>
                <a href="" class="btn btn--Success-Outlined">Success </a>
            </div>
            <div class="Code-Snippet-Display">
                <iframe src="https://carbon.now.sh/embed/syBzxbr7wFRNlS2Cgo46"
                    style="width: 730px; height: 149px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <hr>

            <!-- Link Buttons -->
            <h2 class="Content__TopicHeading">Link Button</h2>
            <div class="Content__TopicSubtitle">
                Want to attach a link action, at a button tap? Use Link Button.
            </div>

            <div class="ExampleBox">
                <a href="Link" class="btn btn--Primary-Link">Link </a>
            </div>
            <div class="Code-Snippet-Display">
                <iframe
                src="https://carbon.now.sh/embed/TD0Vpc9E3dUQcIJrLAfN"
                style="width: 494px; height: 93px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>
            <hr>

            <!-- Icon Buttons -->
            <h2 class="Content__TopicHeading">Icon Button</h2>
            <div class="Content__TopicSubtitle">
               Want an icon to function as a button, use Icon Buttons.
            </div>

            <div class="ExampleBox">
                <a href="Link" class="btn btn--Primary"><i class="fas fa-shopping-cart"> </i> Add to Cart </a>
                <a href="Link" class="btn btn-Icon"><i class="fas fa-shopping-cart"> </i>  </a>
            </div>
            <div class="Code-Snippet-Display">
                <iframe
  src="https://carbon.now.sh/embed/PtjhCqgQQuTfLHMTUgmk"
  style="width: 831px; height: 111px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </div>
            <hr>

            <!-- Floating Buttons -->
            <h2 class="Content__TopicHeading">Floating Button</h2>
            <div class="Content__TopicSubtitle">
                Floating-action buttons can be customized by adding the font-awesome icon of your choice. This button
                will be fixed to right-bottom corner.
            </div>

            <div class="ExampleBox">
                <a href="Link" class="btn-Float"></a>
                <i class="fas fa-plus btn-Float-Icon"></i>
            </div>
            <div class="Code-Snippet-Display">
                <iframe
  src="https://carbon.now.sh/embed/983rmrkA69LMAaIErsEd"
  style="width: 393px; height: 111px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </div>

        </div>


    </div>
    <footer>
        <div class="madeby">Made By Ansh Sharma</div>
        <div class="nav__Icons"> 
            <a href="https://github.com/Sharmaa-Ansh"><i class="fab fa-github"></i></a>
             <a href="https://twitter.com/anshh_sharma"> <i class="fa-brands fa-twitter"></i></a>
             <a href="https://www.linkedin.com/in/ansh-sharma-a85a32184/"><i class="fa-brands fa-linkedin-in"></i></a>         
        </div>
    </footer>



</body>

</html>