<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Navigation.css">
    <link rel="stylesheet" href="/Components/Button/Button.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Navigation</title>
</head>

<body>
    <nav class="navbar">
        <div class="brandlogo">
            <div class="brandlogo__name">ICONICA</div>
            <p class="brandlogo__tagline">DESIGN FOR CHANGE</p>
        </div>
        <div class="nav__Links">
            <a href="/Index.html">Home</a>
            <a href="/Documentation.html">Documentation</a>
        </div>

        <div class="nav__Icons">
            <a href="https://github.com/Sharmaa-Ansh"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/anshh_sharma"> <i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/ansh-sharma-a85a32184/"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </nav>
    <div class="body-container">
        <section class="sidebar">
            <ul>
                <li> <a class="sidebar__Component sidebar__Component-heading " href="">Components</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Alerts/Alert.html">Alert</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Avatars/Avatar.html">Avatar</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Badge/Badge.html">Badge</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Button/Button.html">Button</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Card/Card.html">Card</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Image/Image.html">Image</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Input/Input.html">Input</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Modal/Modal.html">Modal</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Navigation/Navigation.html">Navigation</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Snackbar/Snackbar.html">Snackbar</a> </li>
            </ul>
        </section>

        <div class="Content">
            <h1 class="Content__PageHeading">Navigation</h1>
            <div class="Content__PageSubtitle">
                Navigation bar xan say that i tried Navigation bar xan say that i tried
            </div>
            <hr>

            <!-- Snackbar -->
            <h2 class="Content__TopicHeading">Navigation</h2>
            <div class="ExampleBox">
                <div class="navigation">
                    <div class="navigation_Title"> My Website</div>
                    <div class="searchbar"><input type="text" placeholder="Search"></div>
                    <div class="navigation_Interaction">
                        <a class="navigation__login" href="">Login</a>
                        <i class="far fa-heart"></i>
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </div>

            <div class="Code-Snippet-Display">
                <iframe src="https://carbon.now.sh/embed/nJFCRCLnro9MMY1y3elp"
                    style="width: 797px; height: 242px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <hr>

        </div>
    </div>
    <footer>
        <div class="madeby">Made By Ansh Sharma</div>
        <div class="nav__Icons"> 
            <a href="https://github.com/Sharmaa-Ansh"><i class="fab fa-github"></i></a>
             <a href="https://twitter.com/anshh_sharma"> <i class="fa-brands fa-twitter"></i></a>
             <a href="https://www.linkedin.com/in/ansh-sharma-a85a32184/"><i class="fa-brands fa-linkedin-in"></i></a>         
        </div>
    </footer>
</body>

</html>