<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components.css">

    <title>Avatar</title>
</head>

<body>
    <nav class="navbar">
        <div class="brandlogo">
            <div class="brandlogo__name">ICONICA</div>
            <p class="brandlogo__tagline">DESIGN FOR CHANGE</p>
        </div>
        <div class="nav__Links">
            <a href="/Index.html">Home</a>
            <a href="/Documentation.html">Documentation</a>
        </div>

        <div class="nav__Icons">
            <a href="https://github.com/Sharmaa-Ansh"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/anshh_sharma"> <i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/ansh-sharma-a85a32184/"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </nav>   <div class="body-container">
        <section class="sidebar">
            <ul>
                <li> <a class="sidebar__Component sidebar__Component-heading " href="">Components</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Alerts/Alert.html">Alert</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Avatars/Avatar.html">Avatar</a> </li>
                <li class="active-component"> <a class="sidebar__Component active-component-colour" href="/Components/Badge/Badge.html">Badge</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Button/Button.html">Button</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Card/Card.html">Card</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Image/Image.html">Image</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Input/Input.html">Input</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Modal/Modal.html">Modal</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Navigation/Navigation.html">Navigation</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Snackbar/Snackbar.html">Snackbar</a> </li>
            </ul>
        </section>

        <div class="Content">
            <h1 class="Content__PageHeading">Badge
            </h1>
            <div class="Content__PageSubtitle">
                Badges are small circles, positioned either at top-right or bottom-right of the parent component. Badge can be used to display numbers, online / offline status, depending on where they are used.

            </div>
            <hr>


            <!-- Badge on Avatar -->
            <h2 class="Content__TopicHeading">Profile Badge
            </h2>
            <div class="Content__TopicSubtitle">
                Profile Badge is used to show the current status of a user.
            </div>
            <div class="ExampleBox">

                <img class="Avatar Avatar__Img-lg"
                    src="https://media.istockphoto.com/vectors/vector-businessman-black-silhouette-isolated-vector-id610003972?k=20&m=610003972&s=612x612&w=0&h=-Nftbu4sDVavoJTq5REPpPpV-kXH9hXXE3xg_D3ViKE="
                    alt="Image">
                <div class="Badge__Status Badge__Status-Online"></div>

                <img class="Avatar Avatar__Img-md"
                    src="https://media.istockphoto.com/vectors/vector-businessman-black-silhouette-isolated-vector-id610003972?k=20&m=610003972&s=612x612&w=0&h=-Nftbu4sDVavoJTq5REPpPpV-kXH9hXXE3xg_D3ViKE="
                    alt="Image">
                <div class="Badge__Status Badge__Status-Offline"></div>

                <img class="Avatar Avatar__Img-sm"
                    src="https://media.istockphoto.com/vectors/vector-businessman-black-silhouette-isolated-vector-id610003972?k=20&m=610003972&s=612x612&w=0&h=-Nftbu4sDVavoJTq5REPpPpV-kXH9hXXE3xg_D3ViKE="
                    alt="Image">
                <div class="Badge__Status Badge__Status-Away"></div>

            </div>
            <div class="Code-Snippet-Display">
                <iframe
  src="https://carbon.now.sh/embed/pNWtda3zT2HJPLMexjxA"
  style="width: 578px; height: 223px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </div>
            <hr>

            <!-- Number Badge on Icon -->
            <h2 class="Content__TopicHeading">Number Badge
            </h2>
            <div class="Content__TopicSubtitle">
                Number Badge is used to show the no. of items present in the parent component.
            </div>
            <div class="ExampleBox">

                <i class="fas fa-shopping-cart Badge__Icon"></i>
                <div class="Badge__Status Badge__Status-Offline">8</div>

              
                    <i class="fas fa-envelope Badge__Icon"></i>
                    <div class="Badge__Status Badge__Status-Offline">8</div>
  
            </div>
            <div class="Code-Snippet-Display">
                <iframe
  src="https://carbon.now.sh/embed/cFVv3kKZIvgLDrPNUUSx"
  style="width: 510px; height: 186px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </div>
            <hr>
        </div>
    </div>
    <footer>
        <div class="madeby">Made By Ansh Sharma</div>
        <div class="nav__Icons"> 
            <a href="https://github.com/Sharmaa-Ansh"><i class="fab fa-github"></i></a>
             <a href="https://twitter.com/anshh_sharma"> <i class="fa-brands fa-twitter"></i></a>
             <a href="https://www.linkedin.com/in/ansh-sharma-a85a32184/"><i class="fa-brands fa-linkedin-in"></i></a>         
        </div>
    </footer>
</body>

</html>