<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components.css">

    <title>Alert</title>
</head>

<body>
    <nav class="navbar">
        <div class="brandlogo">
            <div class="brandlogo__name">ICONICA</div>
            <p class="brandlogo__tagline">DESIGN FOR CHANGE</p>
        </div>
        <div class="nav__Links">
            <a href="/Index.html">Home</a>
            <a href="/Documentation.html">Documentation</a>
        </div>

        <div class="nav__Icons">
            <a href="https://github.com/Sharmaa-Ansh"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/anshh_sharma"> <i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/ansh-sharma-a85a32184/"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </nav>
    <div class="body-container">
        <section class="sidebar">
            <ul>
                <li> <a class="sidebar__Component sidebar__Component-heading " href="">Components</a> </li>
                <li class="active-component"> <a class="sidebar__Component active-component-colour" href="/Components/Alerts/Alert.html">Alert</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Avatars/Avatar.html">Avatar</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Badge/Badge.html">Badge</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Button/Button.html">Button</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Card/Card.html">Card</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Image/Image.html">Image</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Input/Input.html">Input</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Modal/Modal.html">Modal</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Navigation/Navigation.html">Navigation</a> </li>
                <li> <a class="sidebar__Component" href="/Components/Snackbar/Snackbar.html">Snackbar</a> </li>
            </ul>
        </section>
        <div class="Content">

            <h1 class="Content__PageHeading">Alert</h1>
            <div class="Content__PageSubtitle">
                An alert displays a short, important message in a way that attracts the user's attention without
                interrupting the user's task.
            </div>
            <hr>

            <!-- Simple Alert -->
            <h2 class="Content__TopicHeading">Simple Alert</h2>
            <div class="Content__TopicSubtitle">
                Simple Alerts can be created using alert class, followed by the variant name.

            </div>
            <div class="ExampleBox Flex-Coloumn">
                <div class="Alert Alert-Primary-Filled">Primary Alert</div>
                <div class="Alert Alert-Error-Filled"><i class="fas fa-exclamation-triangle"> </i> Danger Alert</div>
                <div class="Alert Alert-Success-Filled"><i class="fas fa-check-circle"> </i> Success Alert</div>
                <div class="Alert Alert-Warning-Filled"><i class="fas fa-exclamation-triangle"> </i> Warning Alert</div>
            </div>
            <div class="Code-Snippet-Display">
                <iframe src="https://carbon.now.sh/embed/QALmth6FlHklgVl9AsLZ"
                    style="width: 1024px; height: 149px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <hr>

            <!-- Outline Alert -->
            <h2 class="Content__TopicHeading">Outline Alert</h2>
            <div class="Content__TopicSubtitle">
                Outline alerts are created by using alert class, followed by outline-variant.

            </div>
            <div class="ExampleBox Flex-Coloumn">
                <div class="Alert Alert-Primary-Outlined">Primary Alert</div>
                <div class="Alert Alert-Error-Outlined"><i class="fas fa-exclamation-triangle"> </i> Danger Alert</div>
                <div class="Alert Alert-Success-Outlined"><i class="fas fa-check-circle"> </i> Success Alert</div>
                <div class="Alert Alert-warning-Outlined"><i class="fas fa-exclamation-triangle"> </i> Warning Alert
                </div>
            </div>
            <div class="Code-Snippet-Display">
                <iframe
  src="https://carbon.now.sh/embed/AByAvTEpbbJsph5R533S"
  style="width: 906px; height: 167px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </div>
            <hr>
        </div>
    </div>
    <footer>
        <div class="madeby">Made By Ansh Sharma</div>
        <div class="nav__Icons">
            <a href="https://github.com/Sharmaa-Ansh"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/anshh_sharma"> <i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/ansh-sharma-a85a32184/"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </footer>
</body>

</html>